#since,
#upcoming,
#history {
    display: none;
}

.container {
    margin-top: 25px;
    margin-bottom: 50px;
}

small {
    color: #45A29E;
}

.total {
    margin: 10px;
    padding: 5px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
    transition: all 0.5s;
    font-family: Helvetica;
}

.total:hover {
    background-color: #45A29E;
    color: #0b0c10;
}

.total.selected {
    background-color: #1F2833;
    color: #66FCF1;
}

.company-label {
    cursor: pointer;
    border-radius: 8px;
    padding: 2px;
    user-select: none;
}

.company-label:hover {
    background-color: #45A29E;
    color: #0b0c10 !important;
}

#filters {
    transition: visibility 0.5s, opacity 0.5s, max-height 0.5s, padding 0.5s;
    max-height: 100px;
    box-sizing: content-box;
    padding-bottom: 25px;
}

.filter {
    display: inline-block;
    cursor: pointer;
    background-color: #1F2833;
    border-radius: 8px;
    border: #45A29E 1px solid;
    padding: 8px;
    color: #66FCF1;
    margin: 5px;
}

.filter:after {
    opacity: 50%;
    padding: 0px 0px 0px 8px;
    content: "X";
    font-size: 1.2rem;
    vertical-align: middle;
    color: #C5C6C7;
    font-weight: bolder;
    transition: all 0.5s;
}

.filter:hover:after {
    opacity: 100%;
    color: #66FCF1;
}


.hidden {
    visibility: hidden !important;
    max-height: 0px !important;
    opacity: 0% !important;
    padding: 0 !important;
}

h3 {
    color: #45A29E;

}

h4 {
    margin: 5px;
    font-size: 2.4rem;
}

h4>small {
    font-size: 2.2rem;
}

p {
    margin: 3px;
}

p>small {
    font-size: 1.2rem;
}

hr {
    margin: 20px;
}

html,
body {
    text-align: center;
    background-color: #0b0c10;
    color: #C5C6C7;
}